body {
    padding-bottom: 20px;
    background-color: #2f353b;
}

nav {
    -webkit-app-region: drag;
}

nav button, nav a {
    -webkit-app-region: no-drag;
}

.navbar {
    margin-bottom: 20px;
}

.btn-nav-menu {
    float: right;
}

.nav-link.disabled {
    pointer-events: all;
    cursor: not-allowed;
}
